#setting_div,
.vcode_div,
#download_ui {
    background: #FFF;
    width: 600px;
    position: absolute;
    z-index: 998;
    border: 1px solid #ced1d9;
    box-shadow: 0 0 3px #ced1d9;
    -webkit-transtion: bottom .1s;
    border-radius: 4px;
    font-family: 'Microsoft YaHei',SimSun;

}

.alert-dialog-msg{
    text-align: center;
    padding: 22px;
}
.vcode_div .dialog-footer{
    text-align: center;
    padding-bottom: 15px;
}
.g-button-menu {
    cursor: pointer;
}

.save-button {
    cursor: pointer;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    padding-left: 35px;
    position: relative;
    margin-right: 10px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMUAAAAiCAYAAADveR3KAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwLBCo75CTjigAAAT5JREFUeNrt2Ttug0AUheEzPAqn4tGwEPbAmtkDO0AyqRCNoYsLGMZNjBUEkVJF1vxfSYN0NVfn3hkzL4uz86yv+114T/M8K47jt//Hf/u4XBTGsaLPrlPTNMqzjNMFr93GUWVZKmqaRlVVKU1TqgKvTdOkuq4VSVKSJHLOURV4LUkSSVJAKYCfaApgJ5LE6ARIMsaQFMBpUqwkBbAlBEkBsGgDx54TE00BHO0Ubl2pBLxngoCkAM6TgtsnQIZFGzhGUwDfnrt1tP8AeDs+hSFJAZyOT6QE8LpwIimAnW2nsKQFfG8GHu+AX5LCrqtWkgIgKYDTpiAlgNctLEkBMD4BNAXwJ9s7BXsFfGfZKYCTpMizTMMwqCgKqgGv9X2vPMtk2rZ13fWq2zhSFXivLEsZa61bloVqwHvGGJkg0APD/WsWsNiZMwAAAABJRU5ErkJggg==') no-repeat 0 0;
    display: inline-block;
}

.save-button em {
    position: absolute;
    left: 10px;
    top: 8px;
}

.save-button b {
    color: #666;
    padding-right: 10px;
    height: 34px;
    line-height: 34px;
    text-decoration: none;
    display: block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMUAAAAiCAYAAADveR3KAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwLBCo75CTjigAAAT5JREFUeNrt2Ttug0AUheEzPAqn4tGwEPbAmtkDO0AyqRCNoYsLGMZNjBUEkVJF1vxfSYN0NVfn3hkzL4uz86yv+114T/M8K47jt//Hf/u4XBTGsaLPrlPTNMqzjNMFr93GUWVZKmqaRlVVKU1TqgKvTdOkuq4VSVKSJHLOURV4LUkSSVJAKYCfaApgJ5LE6ARIMsaQFMBpUqwkBbAlBEkBsGgDx54TE00BHO0Ubl2pBLxngoCkAM6TgtsnQIZFGzhGUwDfnrt1tP8AeDs+hSFJAZyOT6QE8LpwIimAnW2nsKQFfG8GHu+AX5LCrqtWkgIgKYDTpiAlgNctLEkBMD4BNAXwJ9s7BXsFfGfZKYCTpMizTMMwqCgKqgGv9X2vPMtk2rZ13fWq2zhSFXivLEsZa61bloVqwHvGGJkg0APD/WsWsNiZMwAAAABJRU5ErkJggg==') no-repeat right 0;
}

.top .close {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwLAhwxiWDnUwAAAP9JREFUOMvtkE1uwjAQhd9UkSxl4RvAIr5VOABVfIDS8lP6J2DZRSJygHKNchFnEW4wi0hZTVdYSVpIu6sQb+c39ud5D7jq34m6hojINs9RlgcMhwOM4hhaa3+PmeVjt/Pz2/EYROTnwbcfiIiZZbXeYP+5R1kewMyitfZ+4RwiYzCK4xbsxw2bmzQfW5sgTTN/ns+mCMOQeiN34z9MZyic815kDO4nd60amro5WzARWZsgMsbDrE1OwnqBzCzHmABQOIc0zcDM8mdgt8P3LEdkDArnsFpvTkKD38COndV1Lcun5xa0Gz/ogy0fF1BKEQAopaiqKnl5fTsLverS9QXS7puw76aeiwAAAABJRU5ErkJggg==') no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 20px;
    right: 10px;
    top: 10px;
    width: 20px;
    position: absolute;
}

.top h3,
.close {
    height: 42px;
    line-height: 40px;
}

.top h3 {
    text-indent: 1em;
    color: #333;
    font-size: 14px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAABgCAIAAAC19kRlAAAAkUlEQVQ4y81SMQ6AIAwshoQ3OLr4S3+Jv2AgTiRC6iRtiZiGRbtd7q5cWwwiwl22lFLBBKyUwPJu33v+LPvEI4ARp/feExNjJMY5R0zO+bnBSIKh1Ou2U7ZlngkAnwf5qgCQy/gSRxj5Dnbv00sgGd6tkak82PO8xGmGQ01qpUyXoGFUV5Ce42Q/MYRAIKVUwQVuRHZj5tt3GgAAAABJRU5ErkJggg==') repeat-x 0 0 #EEE;
    font-weight: 700;
}

.global-icon-download {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwLAxApN3taPgAAAJBJREFUOMtjYBjsgJGQgtylD//D2JOj5QmqZyLF9v////+nqoHEgGFiIA8HG+WxjBy7yAZ++fELb2wzEXIZzLAvP34RFduMhNIgunfbgiQgGhkZGclK2JVrn/8n1jCiQeXa5/9hgGgNyC4hJZeg62UiNmsR8iZMLwuyYNW6FwyEXEr3nMJISklC0DBKY58uAADhV0qO0TJN9gAAAABJRU5ErkJggg==') no-repeat;
    height: 20px;
    width: 20px;
}

#setting_div_table input {
    text-indent: 10px;
    border: 1px solid #C6C6C6;
    box-shadow: 0 0 3px #C6C6C6;
    -webkit-box-shadow: 0 0 3px #C6C6C6;
}
tr>td:first-child{
    width: 110px;
}
.input-large {
    width: 80%;
}

.input-medium {
    width: 81%;
}

.input-small {
    width: 150px;
}

#setting_div_table input[disabled] {
    cursor: not-allowed;
    background-color: #eee;
}

#send_test {
    display: inline-block;
    border: 1px solid #D1D1D1;
    background-color: #F7F7F7;
    text-align: center;
    text-decoration: none;
    color: #1B83EB;
}

#add_rpc {
    display: inline-block;
    border: 1px solid #D1D1D1;
    background-color: #F7F7F7;
    text-align: center;
    text-decoration: none;
    color: #1B83EB;
    margin-left: 5px;
}

#copyright {
    display: inline-block;
}

#setting_aria2_headers {
    overflow: auto;
    resize: none;
    width: 90%;
    height: 80px;
    border: 1px solid #C6C6C6;
    box-shadow: 0 0 3px #C6C6C6;
    -webkit-box-shadow: 0 0 3px #C6C6C6;
}

.button {
    background: #eeeeef;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    padding: 0 50px;
    display: inline-block;
    color: #3b8cff;
    border: 1px solid #c0d9fe;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
}
.button-blue {
    color: #fff;
    border: 1px solid #3b8cff;
    background-color: #3b8cff;
}

.button:hover,
.button:visited,
.button:active {
    color: #77afff!important;
    border: 1px solid #c0d9fe;
    text-decoration: none;
}

.save-button .menu {
    position: absolute;
    width: 98%;
    left: 0;
    top: 32px;
    background: #fff;
    text-align: center;
    border: 1px solid #aaa;
    display: none;
    z-index: 100;
}

.save-button .menu a {
    height: 24px;
    line-height: 24px;
    display: block;
    color: #666;
}

.save-button .menu a:hover {
    background: #e4eefe;
    cursor: pointer;
    text-decoration: none;
}

#download_ui > .content {
    padding: 10px 20px;
    height: auto;
    overflow: hidden;
}

#setting_div_table {
    width: 100%;
    border: 0;
    border-collapse: separate;
    border-spacing: 10px;
    display: table;
    background-color: rgb(250, 250, 250);
}
#aria2_list{
    z-index: 9999;
}