@charset 'utf-8';

@import './lib/share';

.modal {
  align-items: center;
  background-color: $opacity-5;
  display: none;
  height: 100%;
  justify-content: center;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  &.open-o {
    display: flex;
  }

  &-inner {
    background-color: $grey-fa;
    border-radius: 4px;
    margin: auto;
    width: 650px;
  }

  &-header {
    border-bottom: $border;
    display: flex;
    height: $header-height;
    line-height: $header-height;
  }

  &-title {
    flex: 1;
    font-weight: bold;
    padding-left: $padding-space;
  }

  &-close {
    cursor: pointer;
    font-size: 30px;
    padding: 0 $padding-space;
  }

  &-body {
    padding: 0 $padding-space;
  }

  &-footer {
    border-top: $border;
    display: flex;
    padding-bottom: $padding-space;
  }
}
